        	</div>
        </div>
        {{ compScripts }}
        {{ function('wp_footer') }}

        {% if edit_mode %}
            <div change-font></div>
        {% else %}
            <div class="change-font"></div>
            <script>
                $(function () {
                    var webFonts = [];
                    var googleFonts = [];

                    $.ajax({
                        url: ajaxurl,
                        method: "POST",
                        data: {
                            action: 'dm_api',
                            method: 'font.get'
                        }
                    }).done(function (data) {
                        var wFonts = data.family.webFonts;
                        var gFonts = data.family.googleFonts;

                        var key;
                        for (key in wFonts) {
                            if (wFonts.hasOwnProperty(key)) {
                                webFonts.push({key: key, value: wFonts[key]});
                            }
                        }

                        for (key in gFonts) {
                            if (gFonts.hasOwnProperty(key)) {
                                googleFonts.push({key: key, value: gFonts[key]});
                            }
                        }

                        var fontLinks = '';
                        for (var i = 0; i != googleFonts.length; ++i) {
                            var family = googleFonts[i].key.replace(' ', '+');
                            fontLinks += "<link href='https://fonts.googleapis.com/css?family=" + family + ":400,700' rel='stylesheet' type='text/css'>"
                        }

                        fontLinks += "<link href='http://fonts.googleapis.com/css?family=Muli:400italic' rel='stylesheet' type='text/css'>";

                        $('.change-font').html(fontLinks);
                    });
                });
            </script>
        {% endif %}
    </body>
</html>
